body {
  font-family: "juralight";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jura";
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portrait {
  width: 370px;
  height: 470px;
}

.card {
  width: 370px;
  height: 470px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.front-side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.back-side {
  backface-visibility: hidden;
  background-color: #3e007f;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-side h1 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 500;
}

.back-side p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
